{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The requested page needs a username and a password. | 401 Unauthorized</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Unauthorized
        <small>Error 401</small>
    </h1>
    <p class="lead">The requested resource requires an authentication.</p>
</div>

</body>
</html>
