{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>502 Bad Gateway | The request was not completed. The server received an invalid response from the upstream server.</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Webservice currently unavailable
        <small>Error 502</small>
    </h1>
    <p class="lead">The request was not completed. The server received an invalid response from the upstream server..</p></div>

</body>
</html>
