{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The request was not completed. The server met an unexpected condition. | 500 Internal Server Error</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Webservice currently unavailable
        <small>Error 500</small>
    </h1>
    <p class="lead">An unexpected condition was encountered.<br/>Our service
        team has been dispatched to bring it back online.</p></div>

</body>
</html>
