{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>We've got some trouble | 533 - Access Denied</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Scheduled Maintenance
        <small>Error 533</small>
    </h1>
    <p class="lead">This site is currently down for maintenance.<br/>Our
        service team is working hard to bring it back online soon.</p></div>

</body>
</html>
