{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>We've got some trouble | 521 - Access Denied</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Webservice currently unavailable
        <small>Error 521</small>
    </h1>
    <p class="lead">We&#39;ve got some trouble with our backend upstream
        cluster.<br/>Our service team has been dispatched to bring it back
        online.</p></div>

</body>
</html>
