{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The server can not find the requested page. | 404 Not Found</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Resource not found
        <small>Error 404</small>
    </h1>
    <p class="lead">The requested resource could not be found but may be
        available again in the future.</p></div>

</body>
</html>
