{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>The server did not understand the request. | 400 Bad Request</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Bad Request
        <small>Error 400</small>
    </h1>
    <p class="lead">The server cannot process the request due to something that
        is perceived to be a client error.</p></div>

</body>
</html>
