{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>We've got some trouble | 520 - Access Denied</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Origin Error - Unknown Host
        <small>Error 520</small>
    </h1>
    <p class="lead">The requested hostname is not routed. Use only hostnames to
        access resources.</p></div>

</body>
</html>
