{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>501 Not Implemented | The request was not completed. The server did not support the functionality required.</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
</head>
<body>
<div class="cover">
    <h1>Not Implemented
        <small>Error 501</small>
    </h1>
    <p class="lead">The request was not completed. The server did not support the functionality required.</p>
</div>

</body>
</html>
