@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.css-crop {
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-repeat: no-repeat;
}

.css-crop.bg-cover {
    background-size: cover;
    /*-ms-behavior: url("/styles/backgroundsize.min.htc"); doesn't work on IE8-9...*/
    background-position: center;
}

.css-crop.bg-contain {
    background-size: contain;
    background-position: center;
}

.clear-margin {
    margin: 0;
    padding: 0;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.clickable {
    cursor: pointer;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block !important;
}

.nomargin {
    margin: 0px !important;
}

.nowrap {
    white-space: nowrap;
}

.centered {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.first {
    margin-top: 0px !important;
}

.last {
    margin-bottom: 0px !important;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

.mejs-overlay-button {
    display: none;
}

[data-id=new] [data-field=title] {
    display: none;
}

.cv-viewer p {
    min-height: 1em;
}

.cv-viewer .vcv-header {
    margin: 30px auto;
    max-width: 1020px;
    position: relative;
}

.cv-viewer .vcv-header #social-share {
    text-align: right;
    position: absolute;
    left: -80px;
    top: 80px;
    z-index: 1050;
    opacity: 0;
}

.cv-viewer .vcv-header #social-share .share-button {
    min-height: 30px;
}

.cv-viewer .vcv-header #social-share .share-button.subtle {
    opacity: 0.75;
}

.cv-viewer .vcv-header .banner-top {
    padding-left: 90px;
    position: relative;
    margin-top: -10px;
    margin-bottom: -30px;
    z-index: 0;
    opacity: 0.5;
    display: inline-block;
}

.cv-viewer .vcv-header .banner-top:hover {
    opacity: 0.8;
    -webkit-transition-property: transform opacity;
    -moz-transition-property: transform opacity;
    transition-property: transform opacity;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.cv-viewer .vcv-logo {
    height: 40px;
    display: block;
    padding: 5px 0;
}

.cv-viewer .cv-container article .empty {
    display: none !important;
}

.cv-viewer footer.vcv-footer {
    margin-top: 100px;
    color: #333;
    text-align: center;
}

.cv-viewer footer .powered-by {
    margin-top: 0px;
}

.cv-viewer footer .updated-at {
    opacity: 0.5;
}

.cv-fullscreen {
    position: relative;
}

.cv-fullscreen .powered-by a {
    color: white;
}

.cv-fullscreen .vcv-header {
    display: none;
}

.cv-fullscreen .vcv-footer {
    width: 100%;
    position: absolute;
    bottom: 0px;
    color: white;
    margin-top: 50px;
}

.cv-fullscreen .vcv-footer .updated-at {
    display: block;
    margin-bottom: 1em;
    opacity: 0.75;
}

.editor-visible {
    display: none;
}

.cv-editor .cv-container {
    margin: 0px auto 150px auto;
}

.cv-editor .cv-container .editor-visible {
    display: block;
}

.cv-container,
.cv-content {
    opacity: 1 !important;
}

.cv-container {
    display: block;
    margin: 0px auto 10px auto;
    min-height: 500px;
    padding: 50px 6.5%;
    max-width: 1020px;
    background: white;
    border-radius: 1px;
    z-index: 10;
}

.cv-container .nowrap-list li {
    white-space: nowrap;
}

.cv-container section {
    position: relative;
    word-wrap: break-word;
}

.cv-container article:after {
    content: '';
    display: block;
    clear: both;
}

.cv-container .main section:first-child .edit-section .sort-up,
.cv-container .cv-content section:first-child .edit-section .sort-up {
    display: none;
}

.cv-container .main section:last-of-type .edit-section .sort-down,
.cv-container .cv-content section:last-of-type .edit-section .sort-down {
    display: none;
}

.cv-container #profile .edit-section {
    display: none;
}

.cv-container #references .date-range {
    display: none !important;
}

.cv-container #references .article-body {
    width: 100%;
}

.cv-container svg {
    overflow: visible;
}

.cv-container table {
    width: 100%;
}

.cv-container .morris-hover {
    display: none !important;
}

.cv-container input[type=month] {
    position: relative;
    border: none;
    max-width: 100%;
    content: attr(placeholder);
    display: inline-block;
}

.cv-container input[type=month]:before {
    content: attr(placeholder);
    position: absolute;
}

.cv-container .gallery .asset-thumb {
    display: block;
}

.cv-container .asset label.empty {
    display: block !important;
}

.cv-container .btn {
    margin-bottom: 15px;
}

.cv-container .btn i.subtle {
    opacity: 0.2;
}

.cv-container .btn i {
    opacity: 0.5;
}

.cv-container .btn.btn-glass {
    background-color: rgba(255, 255, 255, 0.15);
    -webkit-box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.7);
}

.cv-container a[href] {
    color: #428bca;
}

.cv-container a[href] [data-bind=organization] {
    color: #428bca;
}

.cv-container [data-bind=organization_url] {
    display: block;
}

.cv-container [data-bind=end_date]:before {
    content: ' - ';
}

.cv-container .add-section {
    max-width: 850px;
    margin: 0px auto;
}

.cv-container .cv-content:after {
    content: '';
    display: block;
    clear: both;
}

.cv-container .cv-content .user-thumb {
    display: none;
}

.cv-container .cv-content .user-thumb.visible {
    display: inherit;
}

.cv-container .asset-thumb {
    position: relative;
    cursor: pointer;
    display: block;
}

.cv-container .asset-thumb .asset-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 15%;
    z-index: 100;
    opacity: 0.5;
}

.cv-container .asset-thumb .asset-overlay:hover {
    opacity: 0.75;
}

.cv-container .asset-thumb .asset-overlay.youtube {
    background-image: url("/images/icons/play.png");
}

.cv-container .asset-thumb .asset-overlay img {
    page-break-inside: avoid;
}

.cv-container .asset label.ellipsis > span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
}

@media (max-width: 992px) {
    #social-share {
        display: none;
    }

    .vcv-header a {
        display: block;
        margin-bottom: 15px;
    }

    .vcv-header .vcv-logo {
        display: inline;
    }

    .vcv-header .btn {
        width: 100%;
    }
}

.pdf .cv-container .chart-container {
    width: 850px;
}

.pdf .cv-container .cv-content {
    padding: 0px;
}

.pdf .cv-container .portfolio .css-crop {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pdf .cv-container .user-thumb {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pdf body,
.embed body {
    background: white !important;
}

.pdf .container,
.embed .container {
    padding: 0px;
    margin: 0px auto;
    width: 100%;
}

.pdf .cv-container,
.embed .cv-container {
    padding: 0px !important;
    margin-bottom: 0px !important;
    max-width: 100% !important;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pdf .cv-container section:last-of-type,
.embed .cv-container section:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container section:last-of-type article:last-of-type,
.embed .cv-container section:last-of-type article:last-of-type,
.pdf .cv-container p:last-of-type,
.embed .cv-container p:last-of-type,
.pdf .cv-container .content-container,
.embed .cv-container .content-container,
.pdf .cv-container .cv-content,
.embed .cv-container .cv-content {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
}

.pdf .vcv-header,
.embed .vcv-header,
.pdf .vcv-footer,
.embed .vcv-footer {
    display: none;
}

.pdf header,
.embed header,
.pdf .header-text,
.embed .header-text {
    page-break-after: avoid;
    page-break-inside: avoid;
}

.pdf .no-page-break,
.embed .no-page-break,
.pdf .css-crop,
.embed .css-crop,
.pdf pre,
.embed pre,
.pdf blockquote,
.embed blockquote,
.pdf img,
.embed img,
.pdf svg,
.embed svg,
.pdf .chart-graph,
.embed .chart-graph,
.pdf .chart-container,
.embed .chart-container,
.pdf .asset,
.embed .asset {
    page-break-inside: avoid;
}

.pdf .no-page-break p,
.embed .no-page-break p {
    page-break-inside: avoid;
}

.pdf .page-break,
.embed .page-break {
    page-break-before: always;
}

.pdf thead,
.embed thead {
    display: table-header-group;
}

.pdf p,
.embed p {
    orphans: 4;
    widows: 4;
}

@page {
    size: A4 portrait;
}

.cv-container {
    font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, serif;
    font-weight: 400;
    font-size: 15px;
    background: white;
    padding: 0px;
    color: #000;
}

.cv-container h1 {
    font-size: 350%;
    font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, serif;
    letter-spacing: -0.5px;
    color: #333;
}

.cv-container h2 {
    margin: 0px;
    font-family: "Source Serif Pro", Georgia, Times, "Times New Roman", "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, serif;
    font-size: 130%;
    margin-bottom: 0.2em;
    overflow: hidden;
}

.cv-container h3,
.cv-container h6,
.cv-container label {
    font-family: "Montserrat", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
    text-transform: uppercase;
    font-size: 100%;
}

.cv-container h3,
.cv-container h4,
.cv-container h5 {
    font-weight: 600;
    letter-spacing: 1.5px;
    font-size: 115%;
    margin: 0px;
}

.cv-container h5 {
    font-weight: 400;
    color: #555;
}

.cv-container h6,
.cv-container label {
    letter-spacing: 0.5px;
    margin: 0px;
}

.cv-container .user-contact,
.cv-container .user-links {
    font-family: "Montserrat", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
}

.cv-container #profile {
    margin: 0px;
}

.cv-container #summary {
    font-size: 125%;
    margin: 0px;
}

.cv-container #summary .about-text {
    margin: 0px;
}

.cv-container #summary .clearfix {
    height: 1em;
}

.cv-container section {
    padding: 0px 8%;
    margin-bottom: 2.5em;
}

.cv-container .vcard {
    padding-top: 50px;
    padding-bottom: 10px;
}

.cv-container .vcard .full-name {
    font-weight: bold;
    margin: 0px;
}

.cv-container .vcard .given-name,
.cv-container .vcard .family-name {
    text-transform: capitalize;
}

.cv-container .vcard,
.cv-container .cv-summary {
    background: #f8f8f8;
}

.cv-container .vcard .user-contact li,
.cv-container .cv-summary .user-contact li,
.cv-container .vcard .user-links,
.cv-container .cv-summary .user-links {
    font-weight: normal;
    font-size: 0.9em;
    color: #555;
}

.cv-container .vcard .user-contact li a,
.cv-container .cv-summary .user-contact li a,
.cv-container .vcard .user-links a,
.cv-container .cv-summary .user-links a {
    white-space: nowrap;
    line-height: 1.5em;
}

.cv-container .vcard .css-crop,
.cv-container .cv-summary .css-crop {
    width: 125px;
    height: 125px;
    float: left;
    margin: 0px 25px 25px 0px;
    border: 1px solid #000;
    border-radius: 100%;
    padding-bottom: 0px;
}

.cv-container .user-contact {
    margin-bottom: 1.5em;
    display: block;
    overflow: hidden;
}

.cv-container .user-contact li {
    margin-bottom: 0.25em;
    margin-left: 0.15em;
    padding: 0;
    list-style: none;
}

.cv-container .user-contact li li {
    display: inline-block;
}

.cv-container .user-contact li li:not(:last-child):after {
    content: "|";
    color: #CCC;
    margin: 0px 0.5em;
}

.cv-container .user-contact h5 {
    text-transform: initial;
}

.cv-container .user-contact p {
    margin-bottom: 2px;
}

.cv-container .user-contact .separator-h {
    margin: auto 10px;
}

.cv-container .user-links li {
    display: inline-block;
    margin-right: 0.5em;
}

.cv-container .title {
    color: #64b1f2;
    font-weight: normal;
}

.cv-container .article-body {
    margin: 0 0 2.5em 0px;
}

.cv-container .article-body h5 {
    margin-bottom: 0.25em;
}

.cv-container .portfolio .asset-thumb {
    position: relative;
    display: block;
    border: 1px solid #EEE;
    overflow: hidden;
    transition: all 0.3s ease;
}

.cv-container .portfolio .asset-thumb:hover .overlay {
    opacity: 0;
}

.cv-container .portfolio .asset-thumb:hover .portfolio-open {
    bottom: 0px;
}

.cv-container .portfolio a label {
    cursor: pointer;
}

.cv-container .portfolio .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: block;
    background: rgba(255, 255, 255, 0.9);
    transition: all 0.3s ease;
    background-position: center;
    background-repeat: no-repeat;
}

.cv-container .portfolio .image-asset .overlay {
    background-image: url("/themes/air/images/photo-thumb.png");
    background-size: 45px;
}

.cv-container .portfolio .document-asset .overlay {
    background-image: url("/themes/air/images/doc-thumb.png");
    background-size: 37px;
}

.cv-container .portfolio .youtube-asset .overlay {
    background-image: url("/themes/air/images/video-thumb.png");
    background-size: 45px;
}

.cv-container .portfolio label {
    min-height: 1em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 70%;
}

.cv-container .portfolio .css-crop {
    width: 100%;
    padding-bottom: 75%;
}

.cv-container .portfolio .portfolio-open {
    letter-spacing: 2px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: block;
    background: #000;
    text-align: right;
    font-family: "proxima-nova", sans-serif;
    padding: 12px 10px;
    position: absolute;
    bottom: -42px;
    width: 100%;
}

.cv-container .timeline {
    padding: 1px 0px 3.5em 0px;
    position: relative;
}

.cv-container .timeline .timeline-row:first-child {
    margin-top: 3em;
}

.cv-container .timeline:before {
    content: "";
    position: absolute;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    top: 0px;
    bottom: 0px;
    width: 30%;
}

.cv-container .timeline .timeline-left {
    width: 30%;
    float: left;
    clear: both;
    position: relative;
}

.cv-container .timeline .timeline-left.marked:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 12px;
    background: #64b1f2;
    border-radius: 100%;
    box-shadow: 0px 0px 0px 2px white;
    top: 4px;
    right: -6px;
    z-index: 1;
}

.cv-container .timeline .timeline-right {
    padding-left: 33%;
}

@media (max-width: 768px) {
    .cv-container .timeline:before {
        width: 9px;
    }

    .cv-container .timeline:after {
        width: 10px;
    }

    .cv-container .timeline .timeline-left {
        padding-left: 10px;
        width: 100%;
        float: none;
    }

    .cv-container .timeline .timeline-left:after {
        left: 4px;
        top: 65px;
    }

    .cv-container .timeline .timeline-right {
        width: 100%;
    }
}

.cv-container .timeline {
    border-top: 1px solid #E5E5E5;
}

.cv-container .timeline .timeline-left {
    z-index: 1;
    padding-left: 8%;
}

.cv-container .timeline .timeline-left header {
    padding-bottom: 2.5em;
}

.cv-container .timeline .timeline-right {
    padding-right: 8%;
}

.cv-container .timeline .timeline-start {
    position: absolute;
    top: -1px;
    width: 11px;
    height: 11px;
    left: 30%;
}

.cv-container .timeline .timeline-start:before {
    content: '';
    position: absolute;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 11px solid;
    border-top-color: #E5E5E5;
    top: 0px;
    right: -1px;
}

.cv-container .timeline .timeline-start:after {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #f8f8f8;
    content: '';
    top: -1px;
    right: 0px;
    position: absolute;
    z-index: 10;
}

.cv-container section.timeline-row {
    padding: 0px;
}

.cv-container .competency .competency-bar {
    margin: 0.5em 0px 0.75em;
    width: 100%;
    background-color: #EEE;
    border-radius: 2px;
    height: 8px;
    -webkit-transform: skewX(-45deg);
    -ms-transform: skewX(-45deg);
    -moz-transform-origin: skewX(-45deg);
    -o-transform-origin: skewX(-45deg);
    transform: skewX(-45deg);
}

.cv-container .competency .competency-level {
    background-color: #64b1f2;
    border-radius: 2px;
    height: 100%;
}

.cv-container .competency .competency-bar {
    height: 6px;
    width: 200px;
    -webkit-transform: skewX(0);
    -ms-transform: skewX(0);
    -moz-transform-origin: skewX(0);
    -o-transform-origin: skewX(0);
    transform: skewX(0);
}

.cv-container .strengths article h4 {
    font-family: "Montserrat", "Century Gothic", CenturyGothic, "Microsoft YaHei New", "Microsoft Yahei", "微软雅黑", 宋体, SimSun, 华文细黑, STXihei, 黑体, SimHei, sans-serif;
    text-transform: uppercase;
    font-size: 85%;
    letter-spacing: 0.75px;
}

.cv-container .strengths article:nth-child(2n+3) {
    clear: both;
}

.cv-container .gallery.row {
    margin-left: -5px;
    margin-right: -5px;
}

.cv-container .gallery .col-sm-4 {
    padding: 0px 5px;
}

.cv-container .user-contact {
    list-style: none;
    margin: 0px;
    width: auto;
}

.cv-container .user-contact i {
    text-align: center;
    width: 1.35em;
    color: #CCC;
}

.cv-container .user-contact li {
    display: inline-block;
    overflow: visible;
    word-break: break-all;
    white-space: nowrap;
}

.cv-container .user-contact li:last-child:after {
    display: none;
}

.cv-container .user-contact li:after {
    content: '|';
    color: #CCC;
    margin: 0px 0.5em;
}

.cv-container .user-contact li:before {
    font-family: FontAwesome;
    opacity: 0.25;
    font-size: 115%;
    margin-right: 0.25em;
    display: inline-block;
    width: 1em;
}

.cv-container .user-contact li.locality:before {
    content: "\f041";
}

.cv-container .user-contact li.phone:before {
    content: "\f095";
}

.cv-container .user-contact li.email:before {
    content: "\f003";
}

.cv-container .portfolio .asset.col-sm-3 {
    padding-left: 8px;
    padding-right: 8px;
}

.cv-container .edit-new {
    width: 100%;
    margin-bottom: 0px;
}

.cv-container .section-placeholder {
    padding-bottom: 5em;
}

.cv-container .skills form {
    width: 100%;
    float: left;
}

@media (max-width: 768px) {
    .cv-container .user-contact {
        width: 100%;
    }

    .cv-container .vcard {
        text-align: center;
    }

    .cv-container .vcard .css-crop {
        float: none;
        margin: 0px auto 15px auto;
    }

    .cv-container .timeline .timeline-start {
        left: 8.5px;
    }

    .cv-container .timeline .timeline-left,
    .cv-container .timeline .timeline-right {
        padding: 0% 8% !important;
    }

    .cv-container .timeline .article-body {
        margin: 0px 0px 20px 0px;
    }

    .cv-container .timeline .holder,
    .cv-container .timeline .holder-rhomb {
        display: none;
    }

    .cv-container .competency .competency-bar {
        width: 100%;
    }
}

.pdf body > .container {
    padding: 0px;
}

.pdf .cv-container {
    margin: 0px;
}

.pdf .cv-container h1,
.pdf .cv-container h3,
.pdf .cv-container h4,
.pdf .cv-container h5,
.pdf .cv-container h6,
.pdf .cv-container label {
    letter-spacing: initial !important;
}

.pdf .cv-container .vcard {
    padding-top: 10px;
}

.pdf .cv-container .portfolio .overlay {
    display: none;
}

.pdf .cv-container .chart-container {
    width: 650px !important;
}
