{% load static %}
<body>

{% include 'blog/bootstrap_alert.html' %}

<!-- SECTION: Splashscreen -->
<div class="splashscreen">
  <div class="preloader">
    <span class="preloader__text">Loading</span>
  </div>
</div>
<!-- END SECTION: Splashscreen -->

<!-- SECTION: Navigation -->
<div id="top" class="navigation">
  <div class="navigation__wrapper wrapper--large">
    <a class="navigation__logo logo" href="#0">NS</a>
    <nav class="navigation__container">
      <ul class="navigation__list">
        <li><a href="/home">Home</a></li>
        <li><a href="/home#work">Portfolio</a></li>
        <li><a href="/home#blog">Blog</a></li>
        <li><a href="/home#contact">Contact</a></li>
      </ul>
    </nav>
    <a class="navigation__cta button" href="#0" onclick="showAlert('Please drop me a mail on narender@unix.net.')">
      Get A Quote
    </a>
    <div class="navigation__burger">
      <span class="navigation__burger-el navigation__burger-el--top"></span>
      <span class="navigation__burger-el navigation__burger-el--middle"></span>
      <span class="navigation__burger-el navigation__burger-el--bottom"></span>
    </div>
  </div>
</div>
<!-- END SECTION: Navigation -->

<main role="blog">
  <!-- SECTION: About -->
  <section class="blog">
    <div class="blog" style="margin: 5% 10% 10% 10%;">
      {% block content %}
        <div>
          <img
            src={% static author_mood_url %}
              alt="{{ author_mood }}"
            height="87px"
            width="100px"/>
          <h5>{{ author_mood }}</h5>
        </div>
        <div>
          <i>
            <b>
              {{ post_date }}
            </b>
          </i>
        </div>
        <div style="word-break: break-all; --baseline-multiplier: 0.17; font-family:
            medium-content-serif-font,Georgia,Cambria,'Times New Roman',Times,serif;
            letter-spacing: .01rem; font-weight: 400; font-style: normal; font-size: 21px;
            line-height: 1.58; letter-spacing: -.003em;">
          <h2>{{ post_name }}</h2>
        </div>
        <div>
          <p
            style="word-break: break-all; --baseline-multiplier: 0.17; font-family:
            medium-content-serif-font,Georgia,Cambria,'Times New Roman',Times,serif;
            letter-spacing: .01rem; font-weight: 400; font-style: normal; font-size: 21px;
            line-height: 1.58; letter-spacing: -.003em;">
            <i>
              {{ post_content }}
            </i>
          </p>
        </div>
        <div>
          <h5>
            Tags:
            <i>
              {{ post_tags }}
            </i>
          </h5>
        </div>
      {% endblock %}
    </div>
  </section>
  <!-- END SECTION: About -->

</body>

