{% load static %}

<!-- SECTION: Footer -->
<footer class="footer">
  <div class="footer__wrapper wrapper--large">
    <p class="footer__copyright no-margin">&copy; 2018 Narender Singh</p>
    <a class="footer__logo logo" href="#0">NS</a>
    <a class="footer__arrow" href="#top">
      <svg class="footer__arrow-el" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 130 65" xml:space="preserve" enable-background="new 0 0 130 65">
        <g transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)">
          <path d="M315.4 365c-336-305-345-315-290-351 18-12 32-14 45-8 10 5 145 123 300 262l281 253 196-178c108-98 237-215 287-260 50-46 98-83 107-83s27 9 40 19c20 16 22 23 14 46 -12 33-623 585-647 585C638.4 650 489.4 522 315.4 365z"/>
        </g>
      </svg>
    </a>
  </div>
</footer>
<!-- END SECTION: Footer -->
