{% load static %}
<head>
  <title>Web PortFolio - Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Web PortFolio - Home">
  <meta name="keywords"
        content="open source, perl, shell scripting, linux, unix, Php, JavaScript, portfolio, resume, online, image, developer, python, programmer">
  <meta name="author" content="Narender Singh">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery google cdn pull -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!-- jQuery local fallback -->
  <script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"><\/script>')</script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  <script src="{% static 'js/functions-min.js' %}"></script>

</head>
