{% load static %}
<body>

{% include 'home/bootstrap_alert.html' %}

<!-- SECTION: Splashscreen -->
<div class="splashscreen">
  <div class="preloader">
    <span class="preloader__text">Loading</span>
  </div>
</div>
<!-- END SECTION: Splashscreen -->

<!-- SECTION: Navigation -->
<div id="top" class="navigation">
  <div class="navigation__wrapper wrapper--large">
    <a class="navigation__logo logo" href="#0">NS</a>
    <nav class="navigation__container">
      <ul class="navigation__list">
        <li><a href="/home">Home</a></li>
        <li><a href="#work">Portfolio</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a style="cursor: pointer;" onclick="get_resume();">Resume</a></li>
      </ul>
    </nav>
    <a class="navigation__cta button" href="#0" onclick="showAlert('Please drop me a mail on narender@unix.net.')">Get
      A
      Quote</a>
    <div class="navigation__burger">
      <span class="navigation__burger-el navigation__burger-el--top"></span>
      <span class="navigation__burger-el navigation__burger-el--middle"></span>
      <span class="navigation__burger-el navigation__burger-el--bottom"></span>
    </div>
  </div>
</div>
<!-- END SECTION: Navigation -->

{% include 'home/resume.html' %}


<!-- SECTION: Intro -->
<header class="header">
  <div class="introduction">
    <h1 class="introduction__content">
      <span class="introduction__content-el introduction__content-el--name">Narender Singh</span>
      <span class="introduction__content-el introduction__content-el--description">Professional</span>
      <span class="introduction__content-el introduction__content-el--job">Python Developer</span>
    </h1>
    <svg class="introduction__arrow" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0" y="0" viewBox="0 0 130 65" xml:space="preserve" enable-background="new 0 0 130 65">
            <g transform="translate(0.000000,65.000000) scale(0.100000,-0.100000)"><path d="M22.2 634c-50-35-40-47 293-349 174-157 323-285 333-285 24 0 635 552 647 585 8 23 6 30-14 46 -13 10-31 19-40 19s-57-37-107-83c-50-45-179-162-287-260l-197-179 -147 134c-319 289-433 388-446 388C50.2 650 34.2 643 22.2 634z"/>
            </g>
        </svg>
  </div>
</header>
<!-- END SECTION: Intro -->

<main role="main">
  <!-- SECTION: About -->
  <section class="about">
    <div class="about__wrapper wrapper--small">
      <div class="about__content">
        <div class="about__content-blurb blurb blurb--framed">
          <h2 class="blurb__heading">Nothing is<br>impossible</h2>
          <p class="blurb__copy no-margin">If you just work hard enough at it</p>
        </div>
        <p class="about__content-signature">Narender</p>
      </div>
      <img class="about__visual" src="{% static 'img/about-visual.png' %}" alt="Narender Singh">
    </div>
  </section>
  <!-- END SECTION: About -->

  <!-- SECTION: App Design -->
  <section class="app-design">
    <div class="app-design__wrapper wrapper--large">
      <div class="app-design__content blurb">
        <h2 class="blurb__heading">Python for Automation/Web <br>Development</h2>
        <p class="blurb__copy blurb__copy--tight">Python is an interpreted, object-oriented, high-level
          programming language with dynamic semantics. ... Python's simple, easy to learn syntax emphasizes
          readability and therefore reduces the cost of program maintenance.</p>
        <a class="transform-link" href="https://www.python.org/doc/essays/blurb/" target="_blank">Read more.</a>
      </div>
    </div>
    <figure class="app-design__visual"></figure>
  </section>
  <!-- END SECTION: App Design -->
  <!-- SECTION: Web Design -->
  <section class="web-design">
    <div class="web-design__wrapper wrapper--small">
      <div class="web-design__content blurb">
        <h2 class="blurb__heading">Django and Jinja <br>for Better Design</h2>
        <p class="blurb__copy blurb__copy--tight">Jinja2 is a modern and designer-friendly templating language
          for Python, modelled after Django's templates. It is fast, widely used and secure with the optional
          sandboxed template execution environment.</p>
        <a class="transform-link" href="http://jinja.pocoo.org/docs/2.10/" target="_blank">Read more</a>
      </div>
    </div>
    <figure class="web-design__visual"></figure>
  </section>
  <!-- END SECTION: Web Design -->
  <!-- SECTION: Work -->
  <section id="work" class="work">
    <h2 class="work__heading title">Latest Projects</h2>
    <div class="work__wrapper wrapper--large">
      <ul class="work__list">
        <li class="work__list-el">
          <div class="work__content">
            <div class="work__content-blurb blurb blurb--framed">
              <h3 class="blurb__heading">Another project yet in progress<br>Web Design</h3>
              <p class="blurb__copy">Detail can't be put yet.</p>
            </div>
            <a class="transform-link" href="#0">See full project</a>
          </div>
          <div class="work__visual">
            <img src="{% static 'img/work-eostre.jpg' %}" alt="Ēostre UI Kit">
          </div>
        </li>
        <li class="work__list-el work__list-el--is-active">
          <div class="work__content">
            <div class="work__content-blurb blurb blurb--framed">
              <h3 class="blurb__heading">narender.Pro<br>Web PortFolio</h3>
              <p class="blurb__copy">This website uses the template engine from Jinja2 while harnessing
                power of
                Django to generate this beautiful webApp.</p>
            </div>
            <a class="transform-link" href="https://www.heroku.com/" target="_blank">Powered By heroku</a>
          </div>
          <div class="work__visual">
            <img src="{% static 'img/work-strategik.jpg' %}" alt="Strategik INC">
          </div>
        </li>
        <li class="work__list-el">
          <div class="work__content">
            <div class="work__content-blurb blurb blurb--framed">
              <h3 class="blurb__heading">Another project yet in progress<br>Web Design</h3>
              <p class="blurb__copy">Detail can't be put yet.</p>
            </div>
            <a class="transform-link" href="#0">See full project</a>
          </div>
          <div class="work__visual">
            <img src="{% static 'img/work-eostre.jpg' %}" alt="Ēostre UI Kit">
          </div>
        </li>
      </ul>
      {#            <ul class="work__navigation">#}
      {#                <li class="work__navigation-el work__navigation-el--is-active"></li>#}
      {#                <!-- <li class="work__navigation-el"></li>#}
      {#                <li class="work__navigation-el"></li> -->#}
      {#            </ul>#}
    </div>
  </section>
  <!-- END SECTION: Work -->
  <!-- SECTION: Blog -->
  <section id="blog" class="blog">
    <h2 class="blog__heading title">Blog Posts</h2>
    <div class="blog__wrapper wrapper--large">
      <article class="blog__post">
        <div class="blog__post-thumbnail">
          <img src="{% static 'img/blog-post-1.jpg' %}" alt="Man viewing work plans">
        </div>
        <div class="blog__post-excerpt">
          <h3>How this all started</h3>
          <p>Yet another day, spent boringly in office, wondering about how and what should I do with my time.
            Lemme tell you some, I'm kind of person...</p>
          <a class="transform-link" href="/blog/how-this-all-started">Read full article</a>
        </div>
      </article>
      <article class="blog__post">
        <div class="blog__post-thumbnail">
          <img src="{% static 'img/blog-post-2.jpg' %}" alt="Man hanging pictures">
        </div>
        <div class="blog__post-excerpt">
          <h3>Well, why Django</h3>
          <p>I'm kind of person, who loves to explore programming idea across web. In my initial days I
            started with c/c++,
            however, never have I heard any one doing web development with it, so I started to flick around
            Php.</p>
          <a class="transform-link" href="/blog/well-why-django">Read full article</a>
        </div>
      </article>
      <article class="blog__post">
        <div class="blog__post-thumbnail">
          <img src="{% static 'img/blog-post-3.jpg' %}" alt="Men working at a desk">
        </div>
        <div class="blog__post-excerpt">
          <h3>What could be next</h3>
          <p>Internet is very very vast, people come together and put idea in once place.
            Some times, it gets so overwhelming.
            That is why this all needs to be managed intelligently, and hence AI is coming....
          </p>
          <a class="transform-link" href="/blog/what-could-be-next">Read full article</a>
        </div>
      </article>
    </div>
    <div class="blog__view-more">
      <a class="button blog__view-more--el" href="/blog"
         onclick="showAlert('Appreciate your interest, I might be writing them while you\'re reading this :).')">View
        More</a>
    </div>
  </section>
  <!-- END SECTION: Blog -->
  <!-- SECTION: Contact -->
  <section id="contact" class="contact">
    <h2 class="contact__heading title">Contact Me</h2>
    <div id="contact__wrapper__div" class="contact__wrapper wrapper--large">
      <div class="contact__visual">
        <img src="{% static 'img/contact-visual.png' %}" alt="Narender Singh's location">
      </div>
      <!-- Simple form setup -->
      <form class="contact__form" id="contact_form" action="/action_page.php">
        <input class="contact__form-el contact__form-el--name" type="text" placeholder="Your Name"
               spellcheck="false" id="contact_form_name" autocomplete='name'>
        <input class="contact__form-el contact__form-el--email" type="email" placeholder="Your Email"
               spellcheck="false" id="contact_form_email" autocomplete='email'>
        <textarea class="contact__form-el contact__form-el--message" placeholder="Your Message"
                  id="contact_form_message"></textarea>
        <input class="contact__form-el contact__form-el--submit" type="submit" value="Send"
               onclick="initiate_form_processing();">
      </form>
    </div>
  </section>
  <!-- END SECTION: Contact -->
</main>
</body>

