<script type="application/javascript">
    function showAlert(msg) {
        $('#alert_msg').text(msg);
        $('#alert_msg').slideDown({'display': 'block'}, "slow", "linear", setTimeout(function () {
            $('#alert_msg').slideUp({'display': 'none'})
        }, 2000))
    }
</script>
<div id="alert_msg" class="alert alert-info"
     style="display: none; position: fixed; float: right; top:13%; right: 1%; z-index: 2147483647">
  <strong>Info!</strong> msg
</div>
