{% load static %}
<head>
  <title>Web PortFolio - Home</title>
  <meta charset="utf-8">
  <meta name="google-site-verification" content="iy6mGXGv1MDy5bEdHRC8XzoI1oiFg3JhwWxnXi5miIQ"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Web PortFolio - Home">
  <meta name="keywords"
        content="open source, perl, shell scripting, linux, unix, Php, JavaScript, portfolio, resume, online, image, developer, python, programmer">
  <meta name="author" content="Narender Singh">
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- jQuery google cdn pull -->
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->

  <!-- jQuery local fallback -->
  <!--<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-3.3.1.min.js' %}"><\/script>')</script>-->
  <!--<script>window.jQuery || document.write('<script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"><\/script>')</script>-->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <script type="text/javascript">
      function validate_email(email) {
          var filter = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
          if (filter.test(email)) {
              return true;
          }
          else {
              return false;
          }
      }

      function initiate_form_processing() {
          event.preventDefault();
          var name = $('#contact_form_name').val();
          var email = $('#contact_form_email').val();
          var message = $('#contact_form_message').val();
          if (name == '' || name == null) {
              showAlert('Please enter a valid name');
              return false;
          }
          if (email == '' || email == null) {
              showAlert('Please enter a valid email');
              return false;
          }
          if (message == '' || message == null) {
              showAlert('Don\'t you wanna add some message for me to read');
              return false;
          }
          if (!validate_email(email)) {
              showAlert('Please double check email id');
              return false;
          }
          var jqxhr = $.get("/contact", {name: name, email: email, message: message}, function (data, status) {
              showAlert(data);
          });
          jqxhr.fail(function (data, status) {
              showAlert('Error Occurred' + data);
          })
      }
  </script>

  <script src="{% static 'js/functions-min.js' %}"></script>
  <!-- Google Analytics: change UA-113206242-1 to be your site's ID and uncomment -->
  <!--
  <script>
  (function(b, o, i, l, e, r) {
      b.GoogleAnalyticsObject = l;
      b[l] || (b[l] =
          function() {
              (b[l].q = b[l].q || []).push(arguments)
          });
      b[l].l = +new Date;
      e = o.createElement(i);
      r = o.getElementsByTagName(i)[0];
      e.src = '//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e, r)
  }(window, document, 'script', 'ga'));
  ga('create', 'UA-113206242-1', 'auto');
  ga('send', 'pageview');
  </script>
  -->

</head>
