{% load static %}
<!-- START SECTION: RESUME -->

<script type="text/javascript">

    function download_resume() {
        resume_window = window.open("/resume");
        resume_window.onload = function() {
            resume_window.focus();
            resume_window.print();
        };
    }

    function close_resume() {
        $("#resume_div").html('').css('display', 'none');
        $('body > *:not(#resume_div):not(#wait)').removeClass("blur-all");
    }

    function get_resume() {
        $.ajax({
            type: 'GET',
            url: "resume/resume.html",
            beforeSend: function () {
                $('body > *:not(#resume_div):not(#wait)').wrap('<div class="blur-all">').append();
                $("#wait").css("display", "block");
            },
            success: function (data) {
                $("#wait").css("display", "none");
                $("#resume_div").html(data).css('display', 'inline-block');
            }
        });
    }

</script>
<style type="text/css">
  #wait {
    display: none;
    width: 100%;
    height: 100%;
    border: 0px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 2px;
    z-index: 2147483647;
  }

  #resume_div {
    clear: both;
    display: none;
    z-index: 2147483646;
    position: absolute;
    width: 80%;
    border: 2px solid #a21618;
    margin: auto;
    top: 10%;
    left: 0;
    right: 0;
  }

  .blur-all {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    z-index: 2147483646;
  }

</style>
<div id="wait">
  <img src="{% static 'img/wait.svg' %}">
</div>
<div id="resume_div"></div>
<!-- END SECTION: RESUME -->