{% load static %}
<body data-cv-id="3258848" class="cv-viewer">
<header class="row centered vcv-header">
  <div class="col-md-6">
    <a class="link-home" href="https://www.narender.pro/" target="_blank"></a>
  </div>
  <div class="col-md-6 text-right">
    <div class="alert alert-warning" id="alert_warning" style="display: none"></div>
    <a class="btn btn-outline" id="pdf-download" rel="nofollow" target="_blank" onclick="download_resume();">
      <i class="fa fa-print"></i> Download PDF
    </a>
    <a class="btn btn-outline" id="resume-close" rel="nofollow" target="_blank" onclick="close_resume();">
      <i class="fa fa-close"></i> Close
    </a>
  </div>
</header>
<div id="actual_resume">
  <link rel="stylesheet" type="text/css" href="{% static 'css/air.css' %} ">
  <div class="cv-container animated fadeIn ">
    <div class="cv-content single-column">
      {% include 'resume/resume_header.html' %}
      {% include 'resume/resume_summary.html' %}
      <div class="timeline">
        {% include 'resume/skills.html' %}
        {% include 'resume/resume_positions.html' %}
        {% include 'resume/resume_education.html' %}
        {% include 'resume/resume_references.html' %}
        {% include 'resume/resume_footer.html' %}
        <div class="timeline-start"></div>
        <div class="clearfix"></div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">
<script data-cfasync="false" src="{% static 'js/email-decode.js' %}"></script>
<script src="{% static 'js/jquery-3.3.1.min.js' %} "></script>
</body>
</html>