{% load static %}
<footer class="vcv-footer">
  <p>
    <time class="updated-at" id="dateslot" pubdate="pubdate">
      <script>
          setInterval(function () {
              document.getElementById("dateslot").innerHTML = Date();
          }, 1);
      </script>
    </time>
  </p>
  <h6 class="powered-by">
    <a class="link-home" href="http://narender.pro/">Powered by Docker @myHome</a>
    <style type="text/css">
      a.link-home, a:visited {
        color: #000000;
      }
    </style>
    <br/>
  </h6>
  <br>
</footer>
