<head>
  {% load static %}
  <script type="text/javascript" src="{% static 'js/jquery-2.2.4.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/printpdf.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script data-cfasync="true" type="text/javascript" src="{% static 'js/email-decode.js' %}"></script>
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <script src="{% static 'js/es5-shim.js' %}"></script>

  <!--[if lt IE 9]>
    <script src="{% static 'js/js/html5shiv.min.js' %} "></script>
    <script src="{% static 'js/respond.min.js' %} "></script>
    <![endif]-->

  <!-- <script src="{% static 'js/nr-1071.js' %}"></script>-->
  <script async="" src="{% static 'js/gtm.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"
        type="text/css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">

  <meta property="fb:app_id" content="551201041920186"/>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}"/>

  <!-- Open Graph data -->
  <meta property="og:title" content="Narender's Web PortFolio - Home"/>
  <meta property="og:site_name" content="Narender's Web PortFolio - Home"/>
  <meta property="og:type" content="website"/>
  <meta property="og:image" content="{% static 'img/logo.png' %}"/>
  <meta property="og:image:secure_url" content="{% static 'img/logo.png' %}"/>
  <meta property="og:image:type" content="image/png"/>
  <meta property="og:image:alt" content="self_pic"/>
  <meta property="og:description"
        content="Award-winning backend developer cum instructor with 8 years’ of well-rounded experience in MAMP/LAMP development. An open source enthusiast, with forward-thinking and result oriented attitude. Demonstrable experience in building, integrating, unit testing, and supporting web cum cloud applications in telecom, storage and healthcare, with passion for Data Science and AWS Cloud Services."/>
  <meta property="og:url" content="https://narender.pro/"/>
  <meta property="og:locale" content="en_GB"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="keywords"
        content="open source, resume, portfolio, python, perl, shell scripting, linux, unix, Php, JavaScript"/>

  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Web Portfolio - Home</title>
  <!-- base href="https://www.narender.pro/app/" -->
  <meta name="description" content="">
  <meta name="author" content="narender.pro">
  <meta name="robots" content="noarchive">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="image" content="{% static 'img/self_pic.jpg' %}">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="photo">
  <meta name="twitter:site" content="@nar3nd3r">
  <meta name="twitter:image" content="{% static 'img/self_pic.jpg' %}">
  <meta name="twitter:url" content="https://www.twitter.com/nar3nd3r">

  <link rel="stylesheet" type="text/css" href="{% static 'css/cv.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup.css' %}">

</head>
