<div name="linkedin_sidebar">
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <div class="LI-profile-badge" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="nar3nd3r">
        <a class="LI-simple-link" href='https://in.linkedin.com/in/nar3nd3r?trk=profile-badge'>Narender Singh</a>
    </div>
</div>
