{% load static %}
<section id="profile" class="vcard profile no-page-break">
  <article data-bind="content" class="">
    <div class="user-thumb visible" data-bind="thumb">
      <div class="css-crop bg-cover"
           style="background-image:url({% static 'img/self_pic.jpg' %});"></div>
    </div>
    <div class="fn user-title">
      <h1 class="full-name" data-bind="full_name">
        <span class="undefined needsclick" data-placeholder="Full name"
              contenteditable="false">Narender Singh</span>
      </h1>
      <h5 class="title" data-bind="headline">
        <span class="undefined needsclick" data-placeholder="Headline / current title"
              contenteditable="false" style="margin-right: 180px;">Open Source Enthusiast</span>
      </h5>
    </div>
    <ul class="user-contact nowrap-list">
      <li class="adr locality" data-bind="location">
        <span class="undefined needsclick" data-placeholder="Location" contenteditable="false">Bengaluru, Karnataka,
          India</span>
      </li>
      <li class="phone" data-bind="phone">
        <span class="undefined needsclick" data-placeholder="Phone"
              contenteditable="false">+91-973-920-0013</span>
      </li>
      <li class="email" data-bind="email">
        <a href="mailto:nar3nd3r@icloud.com">nar3nd3r@icloud.com</a>
      </li>
    </ul>
    <ul class="user-links user-websites nowrap-list" data-bind="websites"></ul>
    <div class="clearfix"></div>
  </article>
</section>
