{% load static %}
<section id="summary" class="cv-summary text_story no-page-break">
  <article data-bind="content" class="">
    <div id="react-tinymce-2301798" class="about-text mce-content-body" spellcheck="true"
         placeholder="Description">
      <p>
        <span>
          {{ summary_top }}
        </span>
      </p>
      <p>
        <span>
          {{ summary_bottom }}
        </span>
      </p>
    </div>
  </article>
  <div class="clearfix"></div>
</section>