{% load static %}
<section class="editor-visible no-page-break" style="">
  <div class="col-sm-4 timetable-left"></div>
  <div class="col-sm-8 timetable-right">
    <div data-bind="add-section-btn">
      <span class="undefined needsclick" data-placeholder="add-section-btn"
            contenteditable="false"></span>
    </div>
  </div>
  <div class="clearfix"></div>
</section>