{% load static %}
<section class="timeline-row text_story no-page-break" data-bind="sections" id="text_story">
  <div class="timeline-left">
    <header>
      <h3 class="header-text" data-bind="label">
        <span class="undefined needsclick" data-placeholder="Text section" contenteditable="false">
          References
        </span>
      </h3>
    </header>
  </div>
  <div class="timeline-right"></div>
  <article data-bind="content" class="">
    <div class="timeline-left"></div>
    <div class="timeline-right">
      <div id="react-tinymce-2301826" class=" mce-content-body" spellcheck="true"
           placeholder="Description">
        <p>
          <strong>References are available on requests </strong>
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
</section>