{% load static %}
<section class="timeline-row dated_story" data-bind="sections" id="positions">
  <div class="timeline-left">
    <header>
      <h3 class="header-text empty empty" data-bind="label">
        <span class="undefined needsclick" data-placeholder="Work experience"
              contenteditable="false">Work experience</span>
      </h3>
    </header>
  </div>
  <div class="timeline-right"></div>
  <div class="clearfix"></div>
  <article data-bind="contents" class="">
    <div class="timeline-left marked">
      <h6 class="date-range">
        <span data-bind="start_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2018-04</span>
        </span>
        <span data-bind="end_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">Present</span>
        </span>
      </h6>
    </div>
    <div class="timeline-right">
      <div class="article-body">
        <h4 data-bind="title">
          <span class="undefined needsclick" data-placeholder="Job title"
                contenteditable="false">Technical Lead</span>
        </h4>
        <div data-bind="organization_url" target="_blank" rel="nofollow">
          <h5 data-bind="organization">
            <span class="undefined needsclick" data-placeholder="Organization"
                  contenteditable="false">Harman Connected Services</span>
          </h5>
        </div>
        <div id="react-tinymce-2301800" class=" mce-content-body" spellcheck="true"
             placeholder="Description">
          <ul>
            <li>
              Web application development using Python and Django (Backend Developer).
            </li>
            <li>
              Implementing and helping with Dev-ops Integration (Docker App Integration).
            </li>
            <li>
              Learning to opt for Data Science and Machine Learning
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
  <article data-bind="contents" class="">
    <div class="timeline-left marked">
      <h6 class="date-range">
        <span data-bind="start_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2017-09</span>
        </span>
        <span data-bind="end_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2018-03</span>
        </span>
      </h6>
    </div>
    <div class="timeline-right">
      <div class="article-body">
        <h4 data-bind="title">
          <span class="undefined needsclick" data-placeholder="Job title"
                contenteditable="false">Module Lead</span>
        </h4>
        <div data-bind="organization_url" target="_blank" rel="nofollow">
          <h5 data-bind="organization">
            <span class="undefined needsclick" data-placeholder="Organization"
                  contenteditable="false">Mindteck India Pvt Ltd</span>
          </h5>
        </div>
        <div id="react-tinymce-2301800" class=" mce-content-body" spellcheck="true"
             placeholder="Description">
          <ul>
            <li>
              NetApp Storage automation in various languages (Perl/Python)
            </li>
            <li>Requirement gathering, low-level designing, client interaction, and direct
              at onsite coordination.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
  <article data-bind="contents" class="">
    <div class="timeline-left marked">
      <h6 class="date-range">
        <span data-bind="start_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2014-12</span>
        </span>
        <span data-bind="end_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2017-09</span>
        </span>
      </h6>
    </div>
    <div class="timeline-right">
      <div class="article-body">
        <h4 data-bind="title">
          <span class="undefined needsclick" data-placeholder="Job title"
                contenteditable="false">Software Engineer</span>
        </h4>
        <div data-bind="organization_url" target="_blank" rel="nofollow">
          <h5 data-bind="organization">
            <span class="undefined needsclick" data-placeholder="Organization"
                  contenteditable="false">Oracle India Pvt Limited, Bengaluru</span>
          </h5>
        </div>
        <div id="react-tinymce-2301802" class=" mce-content-body" spellcheck="true"
             placeholder="Description">
          <ul>
            <li>
              Agile and Scrum involved Automation and Test Framework Development
            </li>
            <li>
              Responsible for security and penetration while standard implementation.
            </li>
            <li>
              Server configuration and management(apache/mysql)
            </li>
            <li>
              Exposure to SCM(Software Configuration Management) or revision tools
              Git/Mercurial
            </li>
            <li>
              Developed scripts for Oracle databases 12c/11g with RMAN Backup
            </li>
            <li>
              Travelled internationally and overseas
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
  <article data-bind="contents" class="">
    <div class="timeline-left marked">
      <h6 class="date-range">
        <span data-bind="start_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2014-09</span>
        </span>
        <span data-bind="end_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2014-12</span>
        </span>
      </h6>
    </div>
    <div class="timeline-right">
      <div class="article-body">
        <h4 data-bind="title">
          <span class="undefined needsclick" data-placeholder="Job title"
                contenteditable="false">Lead Engineer</span>
        </h4>
        <div data-bind="organization_url" target="_blank" rel="nofollow">
          <h5 data-bind="organization">
            <span class="undefined needsclick" data-placeholder="Organization"
                  contenteditable="false">HCL Pvt India Ltd</span>
          </h5>
        </div>
        <div id="react-tinymce-2301804" class=" mce-content-body" spellcheck="true"
             placeholder="Description">
          <ul>
            <li>
              Automation for Test Development Server configuration and
              management(apache/mysql)
            </li>
            <li>
              Developed applications and scripts for build and release
              Engineering(achieved with automation)
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
  <article data-bind="contents" class="">
    <div class="timeline-left marked">
      <h6 class="date-range">
        <span data-bind="start_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2011-06</span>
        </span>
        <span data-bind="end_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2014-09</span>
        </span>
      </h6>
    </div>
    <div class="timeline-right">
      <div class="article-body">
        <h4 data-bind="title">
          <span class="undefined needsclick" data-placeholder="Job title"
                contenteditable="false">Project Engineer</span>
        </h4>
        <div data-bind="organization_url" target="_blank" rel="nofollow">
          <h5 data-bind="organization">
            <span class="undefined needsclick" data-placeholder="Organization"
                  contenteditable="false">Wipro Pvt India Ltd</span>
          </h5>
        </div>
        <div id="react-tinymce-2301806" class=" mce-content-body" spellcheck="true"
             placeholder="Description">
          <ul>
            <li>
              Proficient in software test planning and execution, primarily functioning in
              testing, SystemTesting and Regression testing.
            </li>
            <li>
              Implementing automation framework which uses either a combination of Perl,
              Python, PHP, HTML(for data input), JavaScript, and shell scripting.
            </li>
            <li>
              Possesses domain knowledge in storage and telecom
            </li>
            <li>
              Well-versed with quality processes like CMMi.
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
</section>
