{% load static %}
<section class="timeline-row dated_story no-page-break" data-bind="sections" id="degrees">
  <div class="timeline-left">
    <header>
      <h3 class="header-text empty empty" data-bind="label">
        <span class="undefined needsclick" data-placeholder="Education" contenteditable="false">Education</span>
      </h3>
    </header>
  </div>
  <div class="timeline-right"></div>
  <div class="clearfix"></div>
  <article data-bind="contents" class="">
    <div class="timeline-left marked">
      <h6 class="date-range">
        <span data-bind="start_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2005</span>
        </span>
        <span data-bind="end_date">
          <span class="undefined needsclick"
                data-placeholder="YYYY"
                contenteditable="false">2009</span>
        </span>
      </h6>
    </div>
    <div class="timeline-right">
      <div class="article-body">
        <h4 data-bind="title">
          <span class="undefined needsclick" data-placeholder="Degree name"
                contenteditable="false">Bachelor of Technology</span>
        </h4>
        <div data-bind="organization_url" target="_blank" rel="nofollow">
          <h5 data-bind="organization">
            <span class="undefined needsclick" data-placeholder="School name"
                  contenteditable="false">Punjab Technical University</span>
          </h5>
        </div>
        <div id="react-tinymce-2301808" class=" mce-content-body" spellcheck="true"
             placeholder="Description">
          <p>Graduated in Computer Science</p>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
  </article>
</section>