{% load static %}
<section class="timeline-row strengths" data-bind="sections" id="strengths">
  <div class="timeline-left">
    <header>
      <h3 class="header-text empty" data-bind="label">
        <span class="undefined needsclick" data-placeholder="Skills" contenteditable="false">Skills</span>
      </h3>
    </header>
  </div>
  <div class="timeline-right">
    <div class="row">
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">Agile and Scrum
            methodology</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:90%;"></div>
          </div>
          <div id="react-tinymce-2301810" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>Process Control</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">Git/Mercurial</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:85%;"></div>
          </div>
          <div id="react-tinymce-2301810" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>Version Control</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">Python (NumPy, Pandas,
            Django, Zeep etc)</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:85%;"></div>
          </div>
          <div id="react-tinymce-2301812" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Programming Language</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">Perl</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:70%;"></div>
          </div>
          <div id="react-tinymce-2301814" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>Programming Language</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">PHP</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:70%;"></div>
          </div>
          <div id="react-tinymce-2301816" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Programming Language</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">MacOS, FreeBSD, Linux
            (RHEL, Centos), UNIX,
            Debian (Ubuntu, Debian)</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:90%;"></div>
          </div>
          <div id="react-tinymce-2301818" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>Operating Systems</p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name"
                contenteditable="false">Shell Scripting</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:95%;"></div>
          </div>
          <div id="react-tinymce-2301820" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Programming Language</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name"
                contenteditable="false">JavaScript/jQuery/NodeJs</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:70%;"></div>
          </div>
          <div id="react-tinymce-2301822" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Programming Language</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">Swift</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:50%;"></div>
          </div>
          <div id="react-tinymce-2301824" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Programming Language</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">MySQL/PostGresql</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:65%;"></div>
          </div>
          <div id="react-tinymce-2301824" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Structured Query Language</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>
      <article class="col-sm-6 " data-bind="contents">
        <h4 data-bind="name">
          <span class="undefined needsclick" data-placeholder="Name" contenteditable="false">Virtualbox, Docker,
            Vagrant, ESX, Vmware</span>
        </h4>
        <div class="article-body competency">
          <div class="competency-bar">
            <div class="competency-level" data-bind="level" style="width:95%;"></div>
          </div>
          <div id="react-tinymce-2301824" class=" mce-content-body" spellcheck="true"
               placeholder="Description">
            <p>
              <span>Virtualization</span>
            </p>
          </div>
        </div>
        <div class="clearfix"></div>
      </article>

    </div>
  </div>
</section>
